* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #AAAAAA;
    font-size: 100%;
    font-family: 'Crimson Text', serif;
}

.julius {
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: 0.1em;
}

.crimson {
    font-family: 'Crimson Text', serif;
}

.outer-flex {
}

#top-footer {
    padding: 50px;
    background-color: #222222;
    text-align: center;
}

header {
    background: url(40182798-typewriter-wallpapers.jpg) no-repeat center center fixed;
    background-size: cover;
    padding: 280px 0 200px 0;
    background-color: #888888;
    text-transform: uppercase;
    color: white;
}

.name {
    font-size: 80px;
    text-align: center;
    animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
    opacity: 0;
    animation-delay: .25s;
}

.border-box {
    width: 100%;
}

.dev {
    display: inline-block;
    padding: 5px;
    margin-top: 0.5em;
    font-size: 35px;
    border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
    animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
    opacity: 0;
    animation-delay: .5s;
}

.logo{
    position: absolute;
    top: 20px;
    left: 20px;
}

.menu {
    position: relative;
    text-transform: uppercase;
}

.main-list {
    position: absolute;
    top: 20px;
    right: 20px;
    list-style-type: none;
}

.main-list-item {
    float: left;
}

.main-list-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 15.5px;
    text-decoration: none;
}

.selected {
    color: white;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
}

.main-list-item a:link {
    text-decoration: none;
    color: #CCCCCC;
    font-style: normal;
}

.main-list-item a:visited {
    color: #CCCCCC;
}

.main-list-item a:hover {
    color: white;
    transition: all 0.2s;
}

.main-list .main-list-item .sub-list {
    display: none;
    opacity: 0;
}

.main-list .main-list-item:hover .sub-list {
    display: block;
    opacity: 1;
    transition: all 0.2s;
}

.sub-list {
    list-style-type: none;
}

.sub-list-item {
    
}

.sub-list-item a {
    display: block;
    color: #CCCCCC;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.sub-list-item a:link {
    text-decoration: none;
    color: white;
    font-style: normal;
}

.sub-list-item a:visited {
    color: #CCCCCC;
}

.sub-list-item a:hover {
    color: white;
    transition: all 0.2s;
}

.block-text {
    margin: auto;
    font-size: 18px;
    display: flex;
    max-width: 800px;
    padding: 50px 0;
}

.title-text {
    flex: 1;
    margin-top: 0.25em;
}

.body-text {
    flex: 2.5;
}

.contact {
    color: white;
    font-size: 35px;
}

footer {
    padding: 50px;
    background-color: #111111;
    text-align: center;
}

.copyright {
    font-size: 14px;
    color: #AAAAAA;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    text-decoration: underline;
    color: white;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.email-icon {
    margin-top: 0.5em;
}

.social {
    color: #EEEEEE;
    margin-top: 1em;
    font-size: 20px;
}

.social-media {
    margin-top: 0.5em;
}

.social-media li{
    display: inline;
}